// app/layout.styl

@import '../_variables'
@import '../_mixins'
@import 'footer'


// your styles here:
body
  color: $text

.logo
  float: left
  width: 100px
  height: 50px
  display: inline-block
  text-indent: -9999em
  background: url('/images/logo.png') no-repeat top
  background-size: contain

div.rule
  margin-top: 2em
  margin-bottom: 2em
  background: linear-gradient(160deg, #abb, rgba(0,0,0,0) 80%)

div.attributions
  text-align: left;

span.label
  margin-right: 1em
  margin-left: 1em

