// app/layout.styl

@import '../_variables'
@import '../_mixins'
@import 'footer'


// your styles here:
body
  color $text

a
  color white
  &:hover
  &:focus
    color white

.logo
  float left
  width 100px
  height 50px
  display inline-block
  text-indent -9999em
  background url('/images/logo.png') no-repeat top
  background-size contain

div.rule
  margin-top 2em
  margin-bottom 2em
  background linear-gradient(160deg, #abb, rgba(0,0,0,0) 80%)

div.attributions
  text-align left

span.badge
  margin-right 1em
  margin-left 1em

.nav
  li.nav-item
    a.nav-link
      font-weight bold
      // IE8 proofing
      color #fff
      color rgba(255,255,255,.75)
      border-bottom 2px solid transparent
      &:hover
      &:focus
        background-color transparent
        border-bottom-color #a9a9a9
        border-bottom-color rgba(255,255,255,.25)
  li.active
    a.nav-link
      color #fff
      border-bottom-color #fff
      &:hover
      &:focus
        color #fff
        border-bottom-color #fff

.list-group-item
  background-color rgba(64, 94, 128, 0.4)
  border none
  border-bottom 2px solid #ddd

