section.page.home
  div.rule &nbsp;
  h1.cover-heading Consulting / Services
  p.lead Stumbling around in the middle of the night wondering how to get your project done?  Have you found yourself here in the midst of your fever dream?  We would be happy to listen and work with you to reach your goals.
  p.lead Specializing in enterprise systems, we work with your teams to scope, identify technologies, develop, and test custom solutions.  E-commerce, custom integrations, web frontend applications, apis, and analysis are all part of the services offered because any non-trival project requires the ability to see it in its totality.
  div.rule &nbsp;
  h2.cover-heading Technologies
  p.lead We support open source technologies in our skill set.
    ul.list-group.lead
      li.list-group-item Java for enterprise systems.
      li.list-group-item Ampersand for web applications paired with rest apis.
      li.list-group-item Node for rapid server and client prototyping.
      li.list-group-item Diverse tools in a Linux platform - Python, bash, git, npm, eclipse, etc.
