section.page.home
  div(data-hook="error-container")

  div.rule &nbsp;
  h1.cover-heading(data-hook="outl-a.a")
  p.lead(data-hook="outl-a.b")
  p.lead(data-hook="outl-a.c")
  div.rule &nbsp;
  h2.cover-heading(data-hook="outl-b.a")
  p.lead(data-hook="outl-b.b")
    ul.list-group.lead
      li.list-group-item(data-hook="outl-b.c.0")
      li.list-group-item(data-hook="outl-b.c.1")
      li.list-group-item(data-hook="outl-b.c.2")
      li.list-group-item(data-hook="outl-b.c.3")
