li.feature.list-group-item
  h3(data-hook="title")
  p(data-hook="content")
  p(data-hook="feature-label-list")
//-  span.btn-group.pull-right
//-     a.btn.btn-default(data-hook="action-edit") edit
//-     a.btn.btn-danger(href="#", data-hook="action-delete") delete
