body
  div.site-wrapper
    div.site-wrapper-inner
      div.cover-container
        div.masthead.clearfix
          div.inner
            span.logo m
            h3.masthead-brand mizuuenikaze
            nav
              ul.nav.justify-content-end
                li.nav-item
                  a.nav-link(href="./") Home
                li.nav-item
                  a.nav-link(href="features") Features
                li.nav-item
                  a.nav-link(href="contact") Contact
        div.inner.cover
          main(data-hook="page-container")
          div.inner
            p &copy; 2017&nbsp;
              a(href="https://winduponthewater.com/muk/") mizuuenikaze inc.
