body
  div.site-wrapper
  div.site-wrapper-inner
    div.cover-container
      div.masthead.clearfix
        div.inner
          h3.masthead-brand MUK
          nav
            ul.nav.masthead-nav
            li
              a(href="/") Home
            li
              a(href="/features") Features
            li
              a(href="/info") Contact
      div.inner.cover
        h1.cover-heading Welcome
        p.lead MUK is a consulting/services company!
      div.mastfoot
        div.inner
          p &copy; mizuuenikaze inc.
