body
  div.site-wrapper
    div.site-wrapper-inner
      div.cover-container
        div.masthead.clearfix
          div.inner
            span.logo m
            h3.masthead-brand mizuuenikaze
            nav
              ul.nav.masthead-nav
                li
                  a(href="./") Home
                li
                  a(href="features") Features
                li
                  a(href="contact") Contact
        div.inner.cover
          main(data-hook="page-container")
          div.inner
            p &copy; 2017 mizuuenikaze inc.
